@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'poppins', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.animate{
  cursor: pointer;
  border-bottom: 2px solid blue;
  display: inline;
  position: relative;
  
}
.animate::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  background: #357AB9;
  border-radius: 1% 1% 0 0;
  transition: 0.1s;
}
.animate:hover::before{
  height: 100%;
  color: white;

}
.animate:hover{
  height: 100%;
  color: white;

}
/* .banner img {
  z-index: -9999;
  height: 35vh;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  justify-content: center;
} */
.banner {
  background-image: url(./components/assets/bg-football.2d1b7b03.jpg);
  position: relative;
  min-height: 300px;
  background-position: 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.banner img{
  z-index: 9999999;
}
.check{
  position: relative;
  top: -50px;
}